{% extends 'base.html' %}
{% block body %}
<p>  {{the_message}}  </p>
<h2> {{ the_title }} </h2>

<form method = 'POST' action = 'search4'>
<table border = "1" width = "25%">
<p>Use this form to submit a search request</p>
<tr><td>Phrase</td><td><input name = 'phrase' type = 'TEXT' size = "60" ></td></tr>
<tr><td>Letters</td><td><input name = 'letters' type = 'TEXT' size = "60" value = 'aei'></td></tr>
</table>
<p>When you're ready, click this button <button>Ok</button></p>
</form>

{% endblock %}