{% extends 'base.html' %}
{% block body %}
<ul id="menu">
		<li><a href="viewlog">view logs  </a> </li>
		<li><a href="entry">  search  </a></li>
		<li><p>  {{the_user_name}}  </p>      </li>
		<li><a href="logout">log out</a> </li>

	</ul>
<h2> {{ the_title }} </h2>
<table border = "1" width = "50%">
    <tr>
        {% for row_title in the_row_titles %}
        <th>{{ row_title }}</th>
        {% endfor %}
    </tr>
    {% for field in the_data %}
    <tr>
        {% for fld in field %}
        <td color="#FFFF00">{{ fld }}</td>
        {% endfor %}
    </tr>
    {% endfor %}

</table>

{%endblock%}